/* Intro section */

.Intro {
  width: 100%;
  margin-top: 6vh;
  display: flex;
  height: 88vh;
}

.IntroWrapper {
  width: 100%;
  margin-left: 15vw;
  margin-top: 2vh;
}

.IntroWrapper h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ContactImg {
  display: flex;
  margin-left: -1vw;
  margin-top: 13vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ContactImg a img {
  bottom: 0;
  left: 0;
  height: 4vh;
  width: 4vh;
  padding: 0 1vw;
}

.ContactImg a img:hover {
  filter: invert(71%) sepia(48%) saturate(2522%) hue-rotate(331deg)
    brightness(101%) contrast(96%);
}

.Intro h1 {
  position: relative;
  top: 10vh;
  left: 0;
  height: 10vh;
  display: block;
  font-size: calc(25px + 2vw - 0.5rem);
  color: black;
}

.About {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.AboutParagraph {
  margin-top: 7vh;
  left: 0;
  width: 50vw;
  font-size: calc(5px + 0.5vw + 0.5rem);
  line-height: 2;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.AboutParagraph a:link, .AboutParagraph a:visited {
  text-decoration: None;
  color: #8C1515;
}

.AboutParagraph a:hover {
  text-decoration: None;
  color: #fa7e19;
}

.Selfie {
  width: 300px;
  margin: 1vw 1vw 1vw 5vw;
}

/* Footer Section */
.Footer {
  position: relative;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(255, 255, 255);
}

.Footer strong {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  height: 6vh;
  font-size: 1.5vh;
  font-weight: 400;
  margin: 0 2vw;
  justify-content: center;
  align-items: center;

}

.Footer p {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  height: 6vh;
  width: 100%;
  font-size: 1.5vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}
