/*=============== NavBar ==========================*/
.NavBarHeader{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 6vh; 
    z-index: 3;
}

.NavBarWrapper{
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    backdrop-filter: blur(1rem);
}

.NavItem a{
    color: #8C1515;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.NavItem ul{
    list-style: none;
    margin: 0;
    padding: 0 1vw;
    display: flex;
}

.NavItem a:hover,
.NavItem a:active{
    color: #fa7e19;
}

.Spacer{
    flex: 1;
}

/*=============== MenuBar ==========================*/
.BackDrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5rem);
    border-style: outset;
    border: none;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    box-shadow: none!important;
}

.BackDrop.open{
    opacity: 1;
    pointer-events: auto;
}

.SideBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
    z-index: 8;

    transform: translateX(-101%);
    transition: transform 0.3s ease-out;
}

.SideBar.open{
    transform: translateX(0);
}

.SideBar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SideBar a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.SideBar a:hover,
.SideBar a:active{
    color: #fa7e19;
}

.MenuBtn{
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    width: 35px;
    border-width: 0;
    z-index: 10;
    background: rgba(0,0,0,0);
}

.MenuBtn img {
    width: 100%;
    height: 100%;
}

.MenuBtn:hover{
    filter: invert(71%) sepia(48%) saturate(2522%) hue-rotate(331deg) brightness(101%) contrast(96%);
    outline: 0;
    box-shadow: none!important;
}


/*============== Responsive Design ============================*/
@media (max-width: 768px){
    .NavBarWrapper{
        display: none;
    }
}

@media (min-width: 769px){
    .MenuBtn{
        display: none;
    }
    .SideBar{
        display: none;
    }
    .BackDrop{
        display: none;
    }
}
