.Title {
    font-weight: 800;
    font-size: 2vmax;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10vh;
    left: 5%;
    width: 90%;
    height: 5vh;
    display: block;
    border-width: 0 0 0.1vmax 0;
    border-color: black;
    border-style: solid;
}

.ProjectsWrapper {
    position: absolute;
    top: 25vh;
    left: 10%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
