.ResearchTitle {
    font-weight: 800;
    font-size: calc(25px + 1vw - 0.5rem);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 10vh;
    left: 15%;
    width: 70%;
    height: 5vh;
    display: block;
    border-width: 0 0 0.1vmax 0;
    border-color: black;
    border-style: solid;
}

.ResearchSelection {
    position: relative;
    top: 10vh;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
}
.ResearchSelection {
    position: relative;
    top: 10vh;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.ResearchButton {
    font-size: calc(10px + 0.4vw);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

#active_research_button {
    color: #8C1515;
    text-decoration: underline;
    font-weight: 800;
}

#inactive_research_button {
    color: rgb(100, 100, 100);
}

#active_research_button:hover, #inactive_research_button:hover {
    text-decoration: underline;
}

.ResearchWrapper {
    position: relative;
    top: 15vh;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
}


/* Items CSS */

.ResearchItemWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}
.ResearchItemWrapper img{
    height: 190px;
    width: 300px;
    margin: 10px 10px;
}

.ResearchWordsWrapper {
    height: 190px;
    width: max(300px, 100% - 340px);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 10px;
}

.ResearchName{
    font-size: calc(15px + 0.3vw);
    grid-row: 1;
    display: flex;
    align-items: center;
}

.ResearchAuthors{
    font-size: calc(10px + 0.4vw);
    grid-row: 2;
    color: grey;
}

.ResearchInfo{
    font-size: calc(10px + 0.4vw);
    grid-row: 3;
    color: grey;
    margin: 3px 0;
}

.ResearchLinks{
    grid-row: 4;
    display: flex;
    align-items: center;
}
.ResearchLinks a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin-right: 0.75rem;
    padding: 3px 5px;
    border: solid 1px black;
    border-radius: 3px;

}
.ResearchLinks a:hover,
.ResearchLinks a:hover {
    color: #fa923f;
    border-color: #fa923f;
}