.Title {
    font-weight: 800;
    font-size: 2vmax;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10vh;
    left: 5%;
    width: 90%;
    height: 5vh;
    display: block;
    border-width: 0 0 0.1vmax 0;
    border-color: black;
    border-style: solid;
}

.ResearchWrapper {
    position: absolute;
    top: 25vh;
    left: 10%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Items CSS */
.ItemWrapper{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    background: yellow;
    margin: 1vw 0;
}
.ItemWrapper img{
    width: 10vw; 
}

.Info {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.Name{
    font-size: calc(15px + 0.5rem);
    background: orange;
    grid-row: 1 / 3;
}

.Abstract{
    background: cyan;
    font-size: calc(10px + 0.5rem);
    grid-row: 3 / 5;
}

.Links{
    background: purple; 
    grid-row: 5;
}
.Links a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin: 0 0.75rem;

}
.Links a:hover,
.Links a:hover {
    color: #fa923f;
}